<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blazing Bookkeeper</title>

  <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="assets/css/report.css">

  <script src="report.js"></script>
</head>
<body id="main" v-on:keydown.prevent.27="close">

<div class="window">
  <header class="titlebar" style="-webkit-app-region: drag;">Report</header>

  <div class="report">
    <h3>Report details</h3>
    <div>
      <strong>File:</strong>
      {{ file.file.name }}
    </div>
    <template v-if="!file.anonymized">
      <div>
        <strong>Attached:</strong> {{ file.file.path }}
      </div>
    </template>
    <template v-if="file.result.parsed">
      <div>
        <strong>Parsed results:</strong>
        <div class="json results"></div>
      </div>
    </template>
    <template v-if="file.result.error">
      <div>
        <strong>Error:</strong>
        {{ file.result.error.json.message }}
      </div>
      <div>
        <strong>Full error:</strong>
        <div class="json full-error"></div>
      </div>
    </template>
  </div>

  <div class="report-footer">
    <div class="row">
      <div class="left">
        <template v-if="!file.anonymized">
          <input type="text" name="email" placeholder="Your e-mail (optional)" />
        </template>
      </div>
      <div class="right">
        <label class="anonymized">
          Send anonymized data
          <input name="anonymized" v-on:change="changeAnonymized" type="checkbox" />
        </label>
      </div>
    </div>
    <div class="row">
      <textarea name="comments" placeholder="Describe the issue"></textarea>
    </div>
    <div class="row">
      <div class="notice">
        <strong>Note:</strong> You can also create an <a href="https://github.com/danschultzer/blazing-bookkeeper/issues/new" target="_blank" class="js-external-link">issue on Github</a>
      </div>
    </div>
  </div>


  <footer class="bottom-toolbar" style="-webkit-app-region: drag;">
    <button class="btn btn-default" v-on:click.stop.prevent="close">
      Cancel
    </button>
    <button class="btn btn-default" v-on:click.stop.prevent="send">
      <template v-if="!file.uploading">
        Send
      </template>
      <template v-else>
        Sending...
      </template>
    </button>
  </footer>
</div>
</body>
</html>
