<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blazing Bookkeeper</title>

  <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="assets/css/report.css">

  <script src="report.js"></script>
</head>
<body id="main" v-on:keydown.prevent.27="close">

<div class="window">
  <header class="titlebar" style="-webkit-app-region: drag;">Report</header>

  <div class="report">
    <div>
      <strong>File:</strong>
      {{ file.file.name }}
    </div>
    <template v-if="file.result.parsed">
      <strong>Parsed results:</strong>
      <div class="json results"></div>
    </template>
    <template v-if="file.result.error">
      <div>
        <strong>Error:</strong>
        {{ file.result.error.json.message }}
      </div>
      <strong>Full error:</strong>
      <div class="json full-error"></div>
    </template>
    <template v-if="!file.anonymized">
      <strong>Attached file:</strong> {{ file.file.path }}
    </template>

    <div class="input">
      <input name="anonymized" v-on:change="changeAnonymized" type="checkbox" /> <label for="anonymized">Send anonymized data</label>
    </div>
    <textarea name="comments" placeholder="Comments"></textarea>
  </div>

  <footer class="bottom-toolbar" id="toolbar" style="-webkit-app-region: drag;">
    <button class="btn btn-default" v-on:click.stop.prevent="close">
      Cancel
    </button>
    <button class="btn btn-default" v-on:click.stop.prevent="send">
      Send
    </button>
  </footer>
</div>
</body>
</html>
